<h2 style="text-align: center">Create a new beer</h2>
<form style="text-align: center" action="/beers" method="post">
  Brewery:<input type="text" name="brewery"><br>
  Brewery location:<input type="text" name="location"><br>
  Beer name:<input type="text" name="name"><br>
  Beer score: <input type="text" name="score"><br>
  <input type="submit" value="Submit">
</form>
